:root{
    --background-color:#fff;
    --background-light:#fff;
    --shadow-color:rgba(0,0,0,0.2);
    --primary-color:rgb(255,0,86);
    --text-color:#0A0A0A;
    --text-light:#575757;
    --font-size:16px;
    --animation-speed:1
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-size: var(--font-size);
    font-family: 'Roboto',Arial, sans-serif;
}
.navbar{
    height: 55px;
    box-shadow: 0 3px 6px var(--shadow-color);
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo{
        font-size: 1.5em;
        color: var(--primary-color);
        font-weight: bolder;
        text-shadow: 0 1px 3px var(--shadow-color);
        span{
            color: var(--text-color);
        }
    }
    .nav-links{
        a{
            margin-left: 1em;
            color: var(--text-light);
            text-transform: uppercase;
            letter-spacing: 1px;

            &:hover{
                border-bottom: 5px solid var(--primary-color);
                transition: 100ms ease-in-out;
            }
        }

    }
    .sidebar-btn{
        height: 28px;
        width: 35px;
        // background-color: red;
        position: relative;
        .bar{
            border-radius: 3px;
            height: 6px;
            width: 100%;
            background-color: var(--text-color);
            position: absolute;
            transition: 100ms ease-in-out;
            &:nth-child(1){
                top: 0;
            }
            &:nth-child(2){
                top: 50%;
                transform-origin: right;
                transform:scaleX(.8) translateY(-50%);
            }
            &:nth-child(3){
                top: 100%;
                transform: scaleX(1.1) translateY(-100%);
                transform-origin: right;
            }
        }
        &.active{
            .bar{
                transform-origin: center;
                top: 50%;
                &:nth-child(1){
                    transform:translate(0,-50%) scale(1) rotate(45deg) ;
                }
                &:nth-child(2){
                    transform: scaleX(0) translateY(-50%);
                    // display: none;
                }
                &:nth-child(3){
                    transform:translate(0,-50%) scale(1) rotate(-45deg);
                }
            }
        }
        
    }
}

.container{
    padding-inline: 15vw;
}